<div class="item-description-tab">
  <div class="item-summary-section">
    {{!-- Display stats by item type --}}
    {{> (cprGeneratePartial "systems/cyberpunk-red-core/templates/item/description/cpr-VAR.hbs" item.type) this}}
    {{!-- Display at-a-glance stats in the description tab by mixin --}}
    {{#each (cprGetTemplates item.type) as |mixin| }}
      {{> (cprGeneratePartial "systems/cyberpunk-red-core/templates/item/description/mixin/cpr-VAR.hbs" mixin) ../this}}
    {{/each}}
  </div>
  <div class="item-description-section">
    <prose-mirror name="system.description.value" toggled
                  {{#unless editable}}disabled{{/unless}}
    >{{{item.system.description.value}}}</prose-mirror>
  </div>
</div>
